/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Font for everything other than headings (the "headings" div)  */
#container div:not(:first-child){
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#headings {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
}

#expense-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    font-size: 18px;
    margin: 5px 0px;
}

#expense-input div{
    display: flex;
    align-items: center;
    margin: 10px 0px; 
}

#expense-input label{
    margin: 0px 10px 0px 10px; 
 }

form {
    width: 100%;
}

#expense-input div{
    display: flex;
}

.big-input {
    flex-grow: 2;
    height: 40%;
}

.small-input {
    flex-grow: 1;
    height: 40%;
}

input {
    padding: 3px;
}

#add-expense-button {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    border: none; 
    background-color:rgb(0, 182, 0);
    color: rgb(248, 248, 248);
    border-radius: 3px;
    padding: 10px;
}

#add-expense-button:hover {
    background-color: rgb(0, 218, 0) ;
    transition-duration: 0.25s;
}

#expense-table {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
    flex-wrap: wrap;
}

.expense-table, 
.expense-table tr,
.expense-table td {
    border: 1px solid 
}

#add-expense-button {
    margin: 25px 0px;
}

td {
    padding-left: 5px;
}
