@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Titillium+Web:wght@700;900&display=swap');

* {
    font-family: 'Montserrat', sans-ser;
    background: rgb(255, 122, 122);
    overflow: hidden;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%; /* Adjust this value to move the div up or down */
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer-container {
    /* border: 1px solid black; */
}

#timer-background {
    border: 2px solid rgb(54, 54, 54);
    padding: 5em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 30px;
    font-size: 2em;
}

#record {
    display: flex;
    flex-direction: row;
    width: 200px;
    font-weight: 600;
    color: rgb(46, 45, 45);
}

#cycle {
    /* justify-content: flex-start; */
    flex-grow: 8;
    margin-left: 5px;
}

#round {
    flex-grow: 1;
    margin-right: 5px;
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    width: 100%;
}

.start-button {
    font-weight: bold;
    padding: 5px;
    width: 9em;
    border-radius: 12px;
    background-color: rgb(255, 192, 192);
    border: none;
    box-shadow: 5px 5px 5px red;
}

.start-button:hover{
    background-color: rgb(252, 229, 229);
    transition-duration: 0.5s;
}

.start-button:active{
    background-color: rgb(245, 174, 174);
}

#quote {
    font-weight: 800;
    margin-top: 0.75em;
}