body {
    background-color: #413a38;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    margin: 10em;
    font-family: Arial, sans-serif;
}

#display {
    box-sizing: border-box;
    padding: 10px;
    font-size: 3.25em;
    font-weight: 300;
    background-color: hsl(0, 0%, 20%);
    color: white;
    width: 342px;
    height: 80px;
    border-radius: 0px;
    border: 1px solid black;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}

#buttonsDiv {
    display: grid;
    background-color: #1C1C1C;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#buttonsDiv button {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    font-size: 1.75em;
    color: white;
    outline: none;
    border-color: transparent;
    font-weight: bold;
}

.numButtons {
    background-color:  #505050;
}

.numButtons:hover {
    background-color: #757575;
    transition: 0.1s;
}

.opButtons {
    background-color: #FF9500;
}

.opButtons:hover {
    background-color: #ffb957;
    transition: 0.15s;
}